* {
  margin: 0;
  padding: 0;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
/*-----混合------*/
.box {
  width: 100%;
  height: 36px;
  display: flex;
  border: 1px solid #0086b3;
  border-radius: 6px;
  background-color: rgba(94, 120, 208, 0.6);
}
.inputBox {
  width: 80%;
  height: 100%;
  padding-left: 6px;
  line-height: 100%;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: 0;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
}
.inputBox::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.inputBox:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.inputBox:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.iFlag {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 6px;
  border-radius: 6px;
  font-size: 1.4em;
  width: 12%;
}
.login_container {
  width: 100%;
  height: 100%;
  background: url("../images/LoginBackground.png") no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}
.login_container form {
  width: 300px;
  height: 360px;
  margin: 100px auto 0;
  color: rgba(250, 250, 250, 0.4);
}
.login_container form h1 {
  /*登录标题*/
  color: #3967FF;
  font-size: 3.6em;
  line-height: 2em;
  text-align: center;
}
.login_container form .err_box {
  width: 100%;
  height: 1.2em;
  line-height: 1.2em;
  color: red;
  font-size: 1em;
  text-align: center;
}
.login_container form .user {
  /*用户*/
  width: 100%;
  height: 36px;
  display: flex;
  border: 1px solid #0086b3;
  border-radius: 6px;
  background-color: rgba(94, 120, 208, 0.6);
}
.login_container form .user input {
  width: 80%;
  height: 100%;
  padding-left: 6px;
  line-height: 100%;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: 0;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
}
.login_container form .user input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.login_container form .user input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.login_container form .user input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.login_container form .user i {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 6px;
  border-radius: 6px;
  font-size: 1.4em;
  width: 12%;
}
.login_container form .password {
  /*密码*/
  width: 100%;
  height: 36px;
  display: flex;
  border: 1px solid #0086b3;
  border-radius: 6px;
  background-color: rgba(94, 120, 208, 0.6);
}
.login_container form .password input {
  width: 80%;
  height: 100%;
  padding-left: 6px;
  line-height: 100%;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.6);
  border: none;
  outline: 0;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0);
}
.login_container form .password input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.login_container form .password input:-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.login_container form .password input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.login_container form .password i {
  display: block;
  box-sizing: border-box;
  text-align: center;
  padding-top: 6px;
  border-radius: 6px;
  font-size: 1.4em;
  width: 12%;
}
.login_container form .test_container {
  /*验证码容器*/
  width: 100%;
  height: 36px;
  display: flex;
  border: 1px solid #0086b3;
  border-radius: 6px;
  background-color: rgba(94, 120, 208, 0.6);
  justify-content: space-between;
  border: none;
  background-color: unset;
}
.login_container form .test_container .test {
  /*验证码输入*/
  width: 40%;
  line-height: 100%;
  border-radius: 6px;
  border: 1px solid #0086b3;
  color: #3967FF;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 12px;
  outline-color: #0086b3;
}
.login_container form .test_container .test_ers {
  /*验证码及刷新*/
  width: 50%;
  height: 100%;
  display: flex;
  text-align: center;
}
.login_container form .test_container .test_ers .test_er {
  box-sizing: border-box;
  width: 78%;
  font-size: 1.6em;
  border-radius: 6px 0 0 6px;
  color: #3967FF;
  background-color: rgba(255, 255, 255, 0.4);
}
.login_container form .test_container .test_ers .update {
  width: 22%;
  line-height: 1.4;
  color: white;
  font-size: 12px;
  border-radius: 0 6px 6px 0;
  background-color: #3967FF;
}
.login_container form .test_container .test_ers .update:hover {
  cursor: pointer;
}
.login_container form .submit {
  /*提交按钮*/
  width: 100%;
  height: 36px;
  display: flex;
  border: 1px solid #0086b3;
  border-radius: 6px;
  background-color: rgba(94, 120, 208, 0.6);
  display: block;
  background-color: #3967FF;
  color: white;
}
.login_container form .submit:hover {
  cursor: pointer;
}
.login_container form .others {
  width: 100%;
  height: 36px;
  text-align: center;
}
.login_container form .others a {
  color: rgba(250, 250, 250, 0.6);
}
.login_container form .others a:active {
  color: #3967FF;
}
.login_container form .others span {
  margin: 0 4px;
}
